<!DOCTYPE html>
<html>
    <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1285816-30"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1285816-30');
</script>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


<div class="example-wrapper">        
    <h4>Nossas redes sociais:</h4>
    <p><a href="https://twitter.com/FeijoadaWeek/" target="_blank">Twitter</a></p>
    <p><a href="https://instagram.com/feijoadaweek" target="_blank">Instagram</p>
    <h4>Visite também:</h4>
    <p><a href="https://abelaeobigode.com.br/2020/01/onde-comer-em-pipa/" target="_blank">Onde comer em Pipa</a></p>
    <p><a href="https://abelaeobigode.com.br/2020/02/onde-comer-em-olinda/" target="_blank">Onde comer em Olinda</p>
</div>    
    </body>
</html>
