<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


<div class="example-wrapper">        
    <h4>Visite também:</h4>
    <p><a href="https://abelaeobigode.com.br/2020/01/onde-comer-em-pipa/" target="_blank">Onde comer em Pipa</a></p>
    <p><a href="https://abelaeobigode.com.br/2020/02/onde-comer-em-olinda/" target="_blank">Onde comer em Olinda</p>
</div>    
    </body>
</html>
